@font-face {
    font-family: mono;
    src: url('./IBMPlexMono-Text.otf');
}

@font-face {
    font-family: monoItalic;
    src: url("./IBMPlexMono-TextItalic.otf");
}

@font-face {
    font-family: pixeloid;
    src: url("./pixeloid.ttf");
}

html,
body,
div,
button {
    font-family: mono;
    font-size: .92rem;
}

body {
    overflow-x: hidden;
    background: url("./imgs/bg.gif") fixed center;
    background-size: cover;
}

button {
    background-color: transparent;
    border: none;
    color: black;
}

span {
    opacity: 50%;
}


/* .bg {
    position: absolute;
    width: 100vw;
    height: 148vh;
    background: url("./imgs/bg.gif") repeat fixed center;
    margin: -10px;
    overflow: hidden;
    z-index: -1;
} */

.navigation {
    margin-top: -8px;
    margin-left: 2rem;
    width: fit-content;
}

.title {
    background-color: #DF00FE;
}

.header {
    font-family: pixeloid;
    font-size: 5rem;
    color: #D9D9D9;
    margin: 2rem;
}

.about {
    display: flex;
    margin-left: 2rem;
    margin-right: 2rem;
}

.about-text {
    display: flex;
    flex-direction: column;
}

.text {
    color: #D9D9D9;
    padding-left: 1rem;
    padding-top: 1rem;
}

.index {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 15.6vw;
    height: 2rem;
    color: black;
}

.block:hover {
    background-color: #FFE500 !important;
}

.block.clicked {
    color: #FFE500;
}

.repository {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #FFE500;
    width: 15.6vw;
    height: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: -8px;
}

a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: #FFE500;
    text-decoration: none;
}
a:hover{
    color: #FFE500;
    text-decoration: none;
}
a:focus{
    color: #FFE500;
    text-decoration: none;
}
a:active{
    color: #FFE500;
    text-decoration: none;
}